async-timeout==4.0.2
attrs==23.1.0
bleach==6.0.0
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
charset-normalizer==2.1.1
colorama==0.4.6
commonmark==0.9.1
contourpy==1.2.0
cycler==0.11.0
decord==0.6.0
docutils==0.20.1
fonttools==4.37.1
idna==3.4
ifaddr==0.2.0
imageio==2.22.4
imgviz==1.7.2
importlib-metadata==6.8.0
imutils==0.5.4
jaraco.classes==3.3.0
jsonschema==4.17.3
keyring==24.2.0
kiwisolver==1.4.4
labelme==5.1.1
matplotlib==3.8.2
more-itertools==10.1.0
natsort==8.3.1
networkx==2.8.8
numpy==1.23.3
numpy-stl==2.17.1
opencv-python==4.6.0.66
packaging==21.3
pandas==2.0.2
Pillow==9.2.0
pkginfo==1.9.6
plyfile==0.7.4
pydatabrary==0.9.1
Pygments==2.13.0
PyOpenGL==3.1.6
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqtgraph==0.13.3
pyrsistent==0.19.3
python-dateutil==2.8.2
python-utils==3.3.3
pytz==2023.3
PyWavelets==1.4.1
pywin32-ctypes==0.2.2
PyYAML==6.0
QtPy==2.3.0
readme-renderer==41.0
requests==2.28.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==12.6.0
Rtree==1.0.1
scikit-image==0.19.3
scipy==1.9.1
shapely==2.0.1
six==1.16.0
termcolor==2.2.0
tifffile==2022.10.10
trimesh==3.23.0
twine==4.0.2
tzdata==2023.3
urllib3==1.26.12
webencodings==0.5.1
wincertstore==0.2
zeroconf==0.39.3
zipp==3.16.2
